@{
    ViewBag.Title = "signUp";
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<br />

<form method="post" action="/SignUpController/AddUser">
    <h1 style="margin-left:40%;margin-top:50px;">Sign Up</h1>
    <br />
    <b style="margin-left:40%;font-size:20px;">Name</b><input type="text" name="n1" />
    <b style="margin-left:40%;font-size: 20px;">Password</b><input type="password" name="p1" />
    <b style="margin-left:40%;font-size: 20px;">Email</b><input type="text" name="e1" />

    @*@Html.Label("Name");
        <div class="editor-field">
            @Html.TextBoxFor(Model => Model.Name)
            @Html.ValidationMessageFor(Model => Model.Name)
        </div>

        @Html.Label("Password");
        <div class="editor-field">
            @Html.PasswordFor(Model => Model.Password)
            @Html.ValidationMessageFor(Model => Model.Password)
        </div>

        @Html.Label("E-mail");
        <div class="editor-field">
            @Html.TextBoxFor(Model => Model.Email)
            @Html.ValidationMessageFor(Model => Model.Password)
        </div>*@


    <br />
    <br />
    <input type="submit" class="btn btn-primary btn-large" style="margin-left:40%;" value="Sign Up" />

    <a href="~/images/Huawei.jpg" style="padding-top:3em;"><img src="~/images/Huawei.jpg" style="width:800px;height:400px;padding-left:4em;" /></a>

</form>
